.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*** Home Page ***/
/***
#post-5 {
	.entry-content {
		.wp-video { 
			min-width: 100% !important; min-height: 100% !important; 
			.mejs-container,.wp-video-shortcode {
				min-width: 100% !important; min-height: 100% !important; overflow: hidden !important; position: fixed; top: 0; left: 0; 
				.mejs-inner {
					.mejs-controls { display: none !important; }
					.mejs-layers { 
						.mejs-overlay,.mejs-layer,.mejs-overlay-play {
							.mejs-overlay-button { display: none; }
						}
					}
				}
			}
		}
	}
} ***/

.entry-content {
	margin: 0 auto; 
	.video-js {
		width: 0 !important; height: 0 !important;
		.vjs-tech { position: fixed; right: 0; bottom: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; }
		.vjs-control-bar { position: absolute; top: -1000px; }
	}
}

@media (max-width: 800px) { 
	.video-js {
		.vjs-tech { display: none; }
	}
	body.page-id-5 { background-image: url('img/fallback.png') !important; background-size: cover !important; background-position: 100% 0 !important; background-repeat: no-repeat !important; }
}



